In [1]:
import pandas as pd
import nltk
from nltk.corpus import brown
from nltk import FreqDist
from nltk.corpus import stopwords

In [2]:
kw = pd.read_csv("./Keyword Stats 2020-05-13 at 22_32_03 - Keyword Stats 2020-05-13 at 22_32_03.csv")

In [3]:
kw.head(10)

,Keyword,Currency,Avg. monthly searches,Min search volume,Max search volume,Competition,Competition (indexed value),Top of page bid (low range),Top of page bid (high range),Ad impression share,...,Searches: Dec 2019,Searches: Jan 2020,Searches: Feb 2020,Searches: Mar 2020,Searches: Apr 2020,Concept: Otros,Concept: Mueble,Concept: Otras Marcas,Concept:,Concept: Institución Financiera
0,ikea,EUR,N/D,1.000.000,10.000.000,Baja,2.0,"0,04","0,20",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ikea online,EUR,N/D,10,100,Media,47.0,"0,04","0,71",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ikea kallax,EUR,N/D,1,10,Baja,25.0,"0,04","0,20",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ikea family,EUR,N/D,10,100,Baja,4.0,"0,04","0,49",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ikea family,NaN,NaN
4,ikea besta,EUR,N/D,1,10,Media,40.0,"0,04","0,30",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,kallax ikea,EUR,N/D,10,100,Baja,31.0,"0,04","0,20",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,ikea sofas,EUR,N/D,10,100,Alta,100.0,"0,04","0,12",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,sofa,NaN,NaN,NaN
7,ikea black friday,EUR,N/D,1,10,Baja,27.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,armarios ikea,EUR,N/D,100,1.000.000,Alta,100.0,"0,04","0,14",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,ikea trofast,EUR,N/D,1,10,Baja,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
kw.columns

Index(['Keyword', 'Currency', 'Avg. monthly searches', 'Min search volume',
       'Max search volume', 'Competition', 'Competition (indexed value)',
       'Top of page bid (low range)', 'Top of page bid (high range)',
       'Ad impression share', 'Organic impression share',
       'Organic average position', 'In account?', 'In plan?',
       'Searches: May 2019', 'Searches: Jun 2019', 'Searches: Jul 2019',
       'Searches: Aug 2019', 'Searches: Sep 2019', 'Searches: Oct 2019',
       'Searches: Nov 2019', 'Searches: Dec 2019', 'Searches: Jan 2020',
       'Searches: Feb 2020', 'Searches: Mar 2020', 'Searches: Apr 2020',
       'Concept: Otros', 'Concept: Mueble', 'Concept: Otras Marcas',
       'Concept:', 'Concept: Institución Financiera'],
      dtype='object')

In [5]:
kw.drop(kw.columns.difference(['Keyword','Max search volume','Competition (indexed value)','Top of page bid (low range)','Top of page bid (high range)']), 1, inplace=True)

In [6]:
kw.head(10)

,Keyword,Max search volume,Competition (indexed value),Top of page bid (low range),Top of page bid (high range)
0,ikea,10.000.000,2.0,"0,04","0,20"
1,ikea online,100,47.0,"0,04","0,71"
2,ikea kallax,10,25.0,"0,04","0,20"
3,ikea family,100,4.0,"0,04","0,49"
4,ikea besta,10,40.0,"0,04","0,30"
5,kallax ikea,100,31.0,"0,04","0,20"
6,ikea sofas,100,100.0,"0,04","0,12"
7,ikea black friday,10,27.0,NaN,NaN
8,armarios ikea,1.000.000,100.0,"0,04","0,14"
9,ikea trofast,10,3.0,NaN,NaN

In [7]:
kw.shape

(1435, 5)

In [8]:
kw['Keyword'] = kw['Keyword'].apply(lambda tokenize: nltk.word_tokenize(tokenize))

In [9]:
kw.head(10)

,Keyword,Max search volume,Competition (indexed value),Top of page bid (low range),Top of page bid (high range)
0,[ikea],10.000.000,2.0,"0,04","0,20"
1,"[ikea, online]",100,47.0,"0,04","0,71"
2,"[ikea, kallax]",10,25.0,"0,04","0,20"
3,"[ikea, family]",100,4.0,"0,04","0,49"
4,"[ikea, besta]",10,40.0,"0,04","0,30"
5,"[kallax, ikea]",100,31.0,"0,04","0,20"
6,"[ikea, sofas]",100,100.0,"0,04","0,12"
7,"[ikea, black, friday]",10,27.0,NaN,NaN
8,"[armarios, ikea]",1.000.000,100.0,"0,04","0,14"
9,"[ikea, trofast]",10,3.0,NaN,NaN

In [10]:
stop = stopwords.words('spanish')
kw['Keyword'] = kw['Keyword'].apply(lambda keyword: [word for word in keyword if word not in stop])

In [11]:
kw.head(10)

,Keyword,Max search volume,Competition (indexed value),Top of page bid (low range),Top of page bid (high range)
0,[ikea],10.000.000,2.0,"0,04","0,20"
1,"[ikea, online]",100,47.0,"0,04","0,71"
2,"[ikea, kallax]",10,25.0,"0,04","0,20"
3,"[ikea, family]",100,4.0,"0,04","0,49"
4,"[ikea, besta]",10,40.0,"0,04","0,30"
5,"[kallax, ikea]",100,31.0,"0,04","0,20"
6,"[ikea, sofas]",100,100.0,"0,04","0,12"
7,"[ikea, black, friday]",10,27.0,NaN,NaN
8,"[armarios, ikea]",1.000.000,100.0,"0,04","0,14"
9,"[ikea, trofast]",10,3.0,NaN,NaN

In [12]:
freq = pd.Series(' '.join(" ".join(word) for word in kw['Keyword']).split(" ")).value_counts()[:10]
freq

ikea        1203
cama          27
mesas         24
sillas        20
muebles       20
armarios      17
camas         17
sofa          12
ps             9
2019           9
dtype: int64

In [13]:
#fdist = FreqDist(kw.Keyword)
#fdist

In [17]:
import numpy as np

kw['Cat1']= np.where(kw['Keyword'].str.contains('ikea',regex=True),'IKEA','-')

In [19]:
kw.head(200)

,Keyword,Max search volume,Competition (indexed value),Top of page bid (low range),Top of page bid (high range),Cat1
0,[ikea],10.000.000,2.0,"0,04","0,20",IKEA
1,"[ikea, online]",100,47.0,"0,04","0,71",IKEA
2,"[ikea, kallax]",10,25.0,"0,04","0,20",IKEA
3,"[ikea, family]",100,4.0,"0,04","0,49",IKEA
4,"[ikea, besta]",10,40.0,"0,04","0,30",IKEA
...,...,...,...,...,...,...
195,"[ekedalen, ikea]",1,23.0,NaN,NaN,IKEA
196,[fejka],1,11.0,NaN,NaN,IKEA
197,"[ikea, lixhult]",1,3.0,NaN,NaN,IKEA
198,"[norden, ikea]",1,23.0,NaN,NaN,IKEA
199,[lixhult],1,9.0,"1,09","1,74",IKEA

In [28]:
for column in kw['Keyword']:
    if column.str.contains('ikea'):
        kw['Cat_1'] = 'IKEA'
    else: 
        kw['Cat_1'] = ' '

AttributeError: 'list' object has no attribute 'str'

In [43]:
kw['Cat__1'] = ['IKEA' if word.str.join(' ').str.contains('ikea') else '-' for word in kw['Keyword']]

AttributeError: 'list' object has no attribute 'str'

In [37]:
kw.head(200)

,Keyword,Max search volume,Competition (indexed value),Top of page bid (low range),Top of page bid (high range),Cat1,Cat_1,Cat__1
0,[ikea],10.000.000,2.0,"0,04","0,20",IKEA,,-
1,"[ikea, online]",100,47.0,"0,04","0,71",IKEA,,-
2,"[ikea, kallax]",10,25.0,"0,04","0,20",IKEA,,-
3,"[ikea, family]",100,4.0,"0,04","0,49",IKEA,,-
4,"[ikea, besta]",10,40.0,"0,04","0,30",IKEA,,-
...,...,...,...,...,...,...,...,...
195,"[ekedalen, ikea]",1,23.0,NaN,NaN,IKEA,,-
196,[fejka],1,11.0,NaN,NaN,IKEA,,-
197,"[ikea, lixhult]",1,3.0,NaN,NaN,IKEA,,-
198,"[norden, ikea]",1,23.0,NaN,NaN,IKEA,,-
199,[lixhult],1,9.0,"1,09","1,74",IKEA,,-

In [44]:
kw['Cat____1'] = np.where(kw['Keyword']=='ikea', 'IKEA', '')

In [45]:
kw.head(200)

,Keyword,Max search volume,Competition (indexed value),Top of page bid (low range),Top of page bid (high range),Cat1,Cat_1,Cat__1,Cat____1
0,[ikea],10.000.000,2.0,"0,04","0,20",IKEA,,-,
1,"[ikea, online]",100,47.0,"0,04","0,71",IKEA,,-,
2,"[ikea, kallax]",10,25.0,"0,04","0,20",IKEA,,-,
3,"[ikea, family]",100,4.0,"0,04","0,49",IKEA,,-,
4,"[ikea, besta]",10,40.0,"0,04","0,30",IKEA,,-,
...,...,...,...,...,...,...,...,...,...
195,"[ekedalen, ikea]",1,23.0,NaN,NaN,IKEA,,-,
196,[fejka],1,11.0,NaN,NaN,IKEA,,-,
197,"[ikea, lixhult]",1,3.0,NaN,NaN,IKEA,,-,
198,"[norden, ikea]",1,23.0,NaN,NaN,IKEA,,-,
199,[lixhult],1,9.0,"1,09","1,74",IKEA,,-,

In [46]:
kw.loc[kw['Keyword'] == 'ikea', 'Cat_1'] = 'IKEA'  
kw.loc[kw['Keyword'] != 'ikea', 'Cat_1'] = '-'

In [47]:
kw.head(200)

,Keyword,Max search volume,Competition (indexed value),Top of page bid (low range),Top of page bid (high range),Cat1,Cat_1,Cat__1,Cat____1
0,[ikea],10.000.000,2.0,"0,04","0,20",IKEA,-,-,
1,"[ikea, online]",100,47.0,"0,04","0,71",IKEA,-,-,
2,"[ikea, kallax]",10,25.0,"0,04","0,20",IKEA,-,-,
3,"[ikea, family]",100,4.0,"0,04","0,49",IKEA,-,-,
4,"[ikea, besta]",10,40.0,"0,04","0,30",IKEA,-,-,
...,...,...,...,...,...,...,...,...,...
195,"[ekedalen, ikea]",1,23.0,NaN,NaN,IKEA,-,-,
196,[fejka],1,11.0,NaN,NaN,IKEA,-,-,
197,"[ikea, lixhult]",1,3.0,NaN,NaN,IKEA,-,-,
198,"[norden, ikea]",1,23.0,NaN,NaN,IKEA,-,-,
199,[lixhult],1,9.0,"1,09","1,74",IKEA,-,-,